<!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-main-page" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-main-page" data-slide-to="1"></li>
    <li data-target="#carousel-main-page" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="img/jarvis-works.png" alt="works">
      <div class="carousel-caption">
        {{resourceBundle.loginPage.carousel.item1.title}}
      </div>
    </div>
    <div class="item">
      <img src="img/home-page-web.png" alt="Home Page">
      <div class="carousel-caption">
        {{resourceBundle.loginPage.carousel.item2.title}}
      </div>
    </div>
    <div class="item">
      <img src="img/information-alert-page.png" alt="Home Page">
      <div class="carousel-caption">
        {{resourceBundle.loginPage.carousel.item3.title}}
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-main-page" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">{{resourceBundle.loginPage.carousel.previous}}</span>
  </a>
  <a class="right carousel-control" href="#carousel-main-page" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">{{resourceBundle.loginPage.carousel.next}}</span>
  </a>