<form  class="form-signin" ng-controller="UserController" ng-submit="newUser()">
    <label>{{resourceBundle.user.name}}:</label>            
    <input type="text" ng-model="name" required class="form-control" />
    <label>{{resourceBundle.user.email}}:</label>            
    <input type="text" ng-model="email" required class="form-control" />
    <label>{{resourceBundle.user.password}}:</label>
    <input type="password" ng-model="password" min="6" max="14" class="form-control" />
    <label>{{resourceBundle.user.confirmation}}:</label>
    <input type="password" ng-model="confirmation" min="6" max="14" class="form-control" />
    <input class="btn btn-lg btn-primary btn-block button-newUser" type="submit" value="{{resourceBundle.buttons.save}}" />
</form>