<h2>{{resourceBundle.alerts.title}}</h2>
<div ng-controller="AlertController">
    <div class="btn-group">
        <button type="button" class="btn btn-default" id="button-filter-alert">{{ resourceBundle.alerts.type.all }}</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <input type="text" id="type-alert-hide" ng-show="false" ng-model="typeAlert" value="all"/>
        <ul class="dropdown-menu" role="menu" id="switchLanguage">
            <li class="text-capitalize" ng-value="unknow" ng-click="filterAlerts($event)" >{{resourceBundle.alerts.type.unknow}}</li>
            <li class="text-capitalize" ng-value="info" ng-click="filterAlerts($event)" >{{resourceBundle.alerts.type.information}}</li>
            <li class="text-capitalize" ng-value="warning" ng-click="filterAlerts($event)" >{{resourceBundle.alerts.type.warning}}</li>
            <li class="text-capitalize" ng-value="danger" ng-click="filterAlerts($event)" >{{resourceBundle.alerts.type.danger}}</li>
            <li class="text-capitalize" ng-value="" ng-click="filterAlerts($event)" >{{resourceBundle.alerts.type.all}}</li>
        </ul>
    </div>
    <div ng-controller="PaginationController">
    <table id="alert-table" class="table table-striped">
        <thead>
            <tr>
              <th><input type="checkbox" id="selectall" ng-click="selectAll($event)"/></th>
              <th>{{resourceBundle.alerts.source}}</th>
              <th>{{resourceBundle.alerts.titleList}}</th>
              <th>{{resourceBundle.alerts.typeList}}</th>
              <th>{{resourceBundle.alerts.date}}</th>
              <th>{{resourceBundle.alerts.read}}</th>
              <th>{{resourceBundle.alerts.description}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="alert in alerts | filter:typeAlert:type" ng-click="displayAlert($event, alert)">
              <td>
                <div class="checkbox">
                  <label>
                    <input id="{{alert._id}}" type="checkbox"/>
                  </label>
                </div>
              </td>
              <td> {{alert.source}} </td>
              <td> {{alert.title}} </td>
              <td> {{alert.type}} </td>
              <td> {{alert.date}} </td>
              <td> 
                  <div ng-if="!!alert.read" class="alert-icon check-icon"></div>
                  <div ng-if="!!alert.read === false" class="alert-icon warning-icon"></div>
              </td>
              <td> {{alert.description}} </td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li data-ng-class="{disabled: isPrevDisabled}">
            <a data-ng-click="prev()">&laquo;</a>
        </li>
        <li data-ng-repeat="page in pages" ng-class="{active: current===page}">
            <a data-ng-click="goto(page)">{{page}}</a>
        </li>
        <li data-ng-class="{disabled: isNextDisabled}">
            <a data-ng-click="next()">&raquo;</a>
        </li>
    </ul>  
  </div>
    <button type="button" ng-click="deleteAlert($event)" class="btn btn-danger">{{resourceBundle.buttons.delete}}</button>
    <div id ="alert-error" class="alert alert-danger hidden">
        {{resourceBundle.alerts.messages.delete.fail}}
    </div>
    <div id ="alert-deleted" class="alert alert-success hidden">
        {{resourceBundle.alerts.messages.delete.successOne}}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{resourceBundle.buttons.close}}</span></button>
            <h4 class="modal-title" id="alertModalLabel">{{resourceBundle.alerts.id}}: [{{alert._id}}]</h4>
          </div>
            <form role="form" ng-submit="updateAlert()">
                <div class="modal-body">
                      <div class="form-group">
                          <label for="alert-source">{{resourceBundle.alerts.source}}</label>
                          <input type="text" class="form-control" id="alert-source" value="{{alert.source}}" readonly="readonly">
                      </div>
                      <div class="form-group">
                          <label for="alert-type">{{resourceBundle.alerts.typeList}}</label>
                          <input type="text" class="form-control" id="alert-type" value="{{alert.type}}" readonly="readonly">
                      </div>
                      <div class="form-group">
                          <label for="alert-title">{{resourceBundle.alerts.titleList}}</label>
                          <input type="text" class="form-control" id="alert-title" value="{{alert.title}}" readonly="readonly">
                      </div>
                      <div class="form-group">
                          <label for="alert-date">{{resourceBundle.alerts.date}}</label>
                          <input type="text" class="form-control" id="alert-date" value="{{alert.date}}" readonly="readonly">
                      </div>
                      <div class="form-group">
                          <label for="alert-description">{{resourceBundle.alerts.description}}</label>
                          <input type="text" class="form-control" id="alert-description" value="{{alert.description}}" readonly="readonly">
                      </div>
                      <div class="form-group">
                          <label for="alert-read">{{resourceBundle.alerts.read}}</label>
                          <input type="checkbox" class="form-control" id="alert-read" ng-model="alert.read" />
                      </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{{resourceBundle.buttons.close}}</button>
                  <button type="submit" class="btn btn-info">{{resourceBundle.buttons.save}}</button>
                </div>
            </form>
        </div>
      </div>
    </div>
    <!-- End Modal -->
</div>
